California Housing price prediction

In [68]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error, mean_absolute_error

Reading data from CSV file

In [69]:
df=pd.read_csv('California_Houses.csv')
print(df.duplicated().sum())#check duplicate data
df.head()

0

,Median_House_Value,Median_Income,Median_Age,Tot_Rooms,Tot_Bedrooms,Population,Households,Latitude,Longitude,Distance_to_coast,Distance_to_LA,Distance_to_SanDiego,Distance_to_SanJose,Distance_to_SanFrancisco
0,452600.0,8.3252,41,880,129,322,126,37.88,-122.23,9263.040773,556529.158342,735501.806984,67432.517001,21250.213767
1,358500.0,8.3014,21,7099,1106,2401,1138,37.86,-122.22,10225.733072,554279.850069,733236.884360,65049.908574,20880.600400
2,352100.0,7.2574,52,1467,190,496,177,37.85,-122.24,8259.085109,554610.717069,733525.682937,64867.289833,18811.487450
3,341300.0,5.6431,52,1274,235,558,219,37.85,-122.25,7768.086571,555194.266086,734095.290744,65287.138412,18031.047568
4,342200.0,3.8462,52,1627,280,565,259,37.85,-122.25,7768.086571,555194.266086,734095.290744,65287.138412,18031.047568

Define target and features

In [70]:
X = df.drop(columns=["Median_House_Value"])  
X

,Median_Income,Median_Age,Tot_Rooms,Tot_Bedrooms,Population,Households,Latitude,Longitude,Distance_to_coast,Distance_to_LA,Distance_to_SanDiego,Distance_to_SanJose,Distance_to_SanFrancisco
0,8.3252,41,880,129,322,126,37.88,-122.23,9263.040773,556529.158342,735501.806984,67432.517001,21250.213767
1,8.3014,21,7099,1106,2401,1138,37.86,-122.22,10225.733072,554279.850069,733236.884360,65049.908574,20880.600400
2,7.2574,52,1467,190,496,177,37.85,-122.24,8259.085109,554610.717069,733525.682937,64867.289833,18811.487450
3,5.6431,52,1274,235,558,219,37.85,-122.25,7768.086571,555194.266086,734095.290744,65287.138412,18031.047568
4,3.8462,52,1627,280,565,259,37.85,-122.25,7768.086571,555194.266086,734095.290744,65287.138412,18031.047568
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,1.5603,25,1665,374,845,330,39.48,-121.09,162031.481121,654530.186299,830631.543047,248510.058162,222619.890417
20636,2.5568,18,697,150,356,114,39.49,-121.21,160445.433537,659747.068444,836245.915229,246849.888948,218314.424634
20637,1.7000,17,2254,485,1007,433,39.43,-121.22,153754.341182,654042.214020,830699.573163,240172.220489,212097.936232
20638,1.8672,18,1860,409,741,349,39.43,-121.32,152005.022239,657698.007703,834672.461887,238193.865909,207923.199166
20639,2.3886,16,2785,616,1387,530,39.37,-121.24,146866.196892,648723.337126,825569.179028,233282.769063,205473.376575

In [71]:
Y = df["Median_House_Value"]
Y

0        452600.0
1        358500.0
2        352100.0
3        341300.0
4        342200.0
           ...
20635     78100.0
20636     77100.0
20637     92300.0
20638     84700.0
20639     89400.0
Name: Median_House_Value, Length: 20640, dtype: float64

Split Data : training set->70% , validation set->15% , test set->15%


split data into 70 -> training and 30-> other

In [72]:
X_train, X_other, Y_train, Y_other = train_test_split(X, Y, train_size=0.7, random_state=1)

split other into 15 -> validation and 15-> test

In [73]:
X_validation, X_testing, Y_validation, Y_testing = train_test_split(X_other, Y_other, train_size=0.5, random_state=1)

In [74]:
print("Training Set:", X_train.shape, Y_train.shape)
print("Validation Set:", X_validation.shape, Y_validation.shape)
print("Testing Set:", X_testing.shape, Y_testing.shape)

Training Set: (14447, 13) (14447,)
Validation Set: (3096, 13) (3096,)
Testing Set: (3097, 13) (3097,)

Linear Regression Model

In [88]:
linearReg = LinearRegression()
linearReg.fit(X_train, Y_train)
Y_predict = linearReg.predict(X_validation)
#print(Y_predict)
print('Mean Squared Error:',mean_squared_error(Y_validation, Y_predict))
print('Mean Absolute Error:' ,mean_absolute_error(Y_validation, Y_predict))

[153378.60885542 246882.54756662 231511.70506723 ... 225920.75314874
 147337.64284811 103680.44230845]
Mean Squared Error: 4833436718.780087
Mean Absolute Error: 50207.115796330305

Normalizing data for Lasso and Ridge

In [76]:
#Ensures all features have the same scale 
#Without scaling, large-scale features dominate, making the model biased.
scaler = StandardScaler()
X_train_scaled = pd.DataFrame(scaler.fit_transform(X_train), columns=X_train.columns)
X_testing_scaled = pd.DataFrame(scaler.transform(X_testing), columns=X_testing.columns)
X_validation_scaled = pd.DataFrame(scaler.transform(X_validation), columns=X_validation.columns)

In [77]:
normalized_model = LinearRegression()
normalized_model.fit(X_train_scaled, Y_train)
Y_predictNorm = linearReg.predict(X_validation_scaled)
print('Mean Squared Error:', mean_squared_error(Y_validation, Y_predictNorm))
print('Mean Absolute Error:', mean_absolute_error(Y_validation, Y_predictNorm))

Mean Squared Error: 3860025464925.788
Mean Absolute Error: 1962802.2222184064

Normalization increases the errors

Lasso Regression Model

Tunning the model with different alpha's -> 0.005 , 0.1 , 10, 100

In [78]:
#coefficients will be shrunk towards a mean of zero, less important features in a dataset are eliminated when penalized. 
#The shrinkage of these coefficients leads to some form of automatic feature selection
lasso1 = Lasso(alpha=0.1 , max_iter=5000)
lasso1.fit(X_train_scaled, Y_train)
Lasso1_predict = lasso1.predict(X_validation_scaled)
print('alpha',0.1)
print('Mean Squared Error:', mean_squared_error(Y_validation, Lasso1_predict))
print('Mean Absolute Error:', mean_absolute_error(Y_validation, Lasso1_predict))

alpha 0.1
Mean Squared Error: 4833438656.413039
Mean Absolute Error: 50207.16010186636

In [79]:
lasso2 = Lasso(alpha=0.005 , max_iter=5000)
lasso2.fit(X_train_scaled, Y_train)
Lasso2_predict = lasso2.predict(X_validation_scaled)
print('alpha',0.005)
print('Mean Squared Error:', mean_squared_error(Y_validation, Lasso2_predict))
print('Mean Absolute Error:', mean_absolute_error(Y_validation, Lasso2_predict))

alpha 0.005
Mean Squared Error: 4833436814.93413
Mean Absolute Error: 50207.11801161066

In [80]:
lasso3 = Lasso(alpha=10 , max_iter=5000)
lasso3.fit(X_train_scaled, Y_train)
Lasso3_predict = lasso3.predict(X_validation_scaled)
print('alpha',10)
print('Mean Squared Error:', mean_squared_error(Y_validation, Lasso3_predict))
print('Mean Absolute Error:', mean_absolute_error(Y_validation, Lasso3_predict))

alpha 10
Mean Squared Error: 4833782414.455374
Mean Absolute Error: 50212.13606427012

In [81]:
lasso4 = Lasso(alpha=100 , max_iter=5000)
lasso4.fit(X_train_scaled, Y_train)
Lasso4_predict = lasso4.predict(X_validation_scaled)
print('alpha',100)
print('Mean Squared Error:',  mean_squared_error(Y_validation, Lasso4_predict))
print('Mean Absolute Error:', mean_absolute_error(Y_validation, Lasso4_predict))

alpha 100
Mean Squared Error: 4850651254.895802
Mean Absolute Error: 50407.6648388725

Ridge Regression  Model

Tunning the model with different alpha's -> 0.1 , 0.5 , 10, 100

In [82]:
ridge1 = Ridge(alpha=0.1)
ridge1.fit(X_train_scaled, Y_train)
Ridge1_predict = ridge1.predict(X_validation_scaled)
print('alpha',0.1)
print('Mean Squared Error:', mean_squared_error(Y_validation, Ridge1_predict))
print('Mean Absolute Error:', mean_absolute_error(Y_validation, Ridge1_predict))

alpha 0.1
Mean Squared Error: 4833424740.8020115
Mean Absolute Error: 50207.282834276964

In [83]:
ridge2 = Ridge(alpha=0.5)
ridge2.fit(X_train_scaled, Y_train)
Ridge2_predict = ridge2.predict(X_validation_scaled)
print('alpha',0.5)
print('Mean Squared Error:', mean_squared_error(Y_validation, Ridge2_predict))
print('Mean Absolute Error:', mean_absolute_error(Y_validation, Ridge2_predict))

alpha 0.5
Mean Squared Error: 4833383410.294054
Mean Absolute Error: 50207.97273685816

In [84]:
ridge3 = Ridge(alpha=10)
ridge3.fit(X_train_scaled, Y_train)
Ridge3_predict = ridge3.predict(X_validation_scaled)
print('alpha',10)
print('Mean Squared Error:',  mean_squared_error(Y_validation, Ridge3_predict))
print('Mean Absolute Error:', mean_absolute_error(Y_validation, Ridge3_predict))

alpha 10
Mean Squared Error: 4834335524.816737
Mean Absolute Error: 50239.07915627115

In [85]:
ridge4 = Ridge(alpha=100)
ridge4.fit(X_train_scaled, Y_train)
Ridge4_predict = ridge4.predict(X_validation_scaled)
print('alpha',100)
print('Mean Squared Error:', mean_squared_error(Y_validation, Ridge4_predict))
print('Mean Absolute Error:', mean_absolute_error(Y_validation, Ridge4_predict))

alpha 100
Mean Squared Error: 4857549166.776737
Mean Absolute Error: 50608.16353674283

Using the test set on all models

In [86]:
linear_test = linearReg.predict(X_testing)
print('Linear Model')
print('Mean Squared Error:', mean_squared_error(Y_testing, linear_test))
print('Mean Absolute Error:',mean_absolute_error(Y_testing, linear_test))
lasso_test = lasso2.predict(X_testing_scaled)#choosing alpha with the least errors
print('Lasso Model')
print('Mean Squared Error:',mean_squared_error(Y_testing, lasso_test))
print('Mean Absolute Error:',mean_absolute_error(Y_testing, lasso_test))
ridge_test = ridge1.predict(X_testing_scaled)#choosing alpha with the least errors
print('Ridge Model')
print('Mean Squared Error:', mean_squared_error(Y_testing, ridge_test))
print('Mean Absolute Error:', mean_absolute_error(Y_testing, ridge_test))

Linear Model
Mean Squared Error: 4659866522.896966
Mean Absolute Error: 49887.3992039401
Lasso Model
Mean Squared Error: 4659866025.478232
Mean Absolute Error: 49887.402049423494
Ridge Model
Mean Squared Error: 4659816944.707518
Mean Absolute Error: 49887.58996591939

After using the test set on all models and calculating their MSE and MAE it shows that regularization didn't improve the model's performance